include ../data/main-menu-data

nav(class='main-menu' aria-label=mainMenuData.ariaLabel)
	div(class='container main-menu__container')
		a(class='main-menu__brand' href=mainMenuData.brandHref)
			img(
				class='main-menu__logo'
				src=mainMenuData.brandLogo
				alt=mainMenuData.brand
				width='220'
				height='63'
			)
		div(class='main-menu__panel' id='mainMenuPanel')
			ul(class='main-menu__list')
				each item in mainMenuData.items
					li(class='main-menu__item')
						a(class='main-menu__link' href=item.href)= item.label
		div(class='main-menu__tools')
			include lang-toggle
			button(
				class='main-menu__toggle'
				type='button'
				aria-expanded='false'
				aria-controls='mainMenuPanel'
				aria-label=mainMenuData.openLabel
				data-label-open=mainMenuData.openLabel
				data-label-close=mainMenuData.closeLabel
			)
				span(class='main-menu__toggle-line')
				span(class='main-menu__toggle-line')
				span(class='main-menu__toggle-line')
