include ../data/music-data

-
	var musicRootClass = musicData.embed
		? 'music music--embed'
		: 'music'

mixin musicCard(card)
	article(class=`music__card music__card--${card.type}`)
		h3(class='music__card-title')= card.title
		if card.type === 'spotifyFollow'
			div(class='music__embed music__embed--follow')
				iframe(
					class='music__iframe'
					src=card.embedUrl
					title=card.title
					loading='lazy'
					allow='encrypted-media'
				)
			a(class='btn btn--primary music__follow' href=card.ctaHref target='_blank' rel='noopener noreferrer')= card.ctaLabel
		else if card.type === 'youtube'
			div(class='music__embed music__embed--video')
				iframe(
					class='music__iframe'
					src=card.embedUrl
					title=card.title
					loading='lazy'
					allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
					allowfullscreen
				)
			if card.caption
				p(class='music__caption')= card.caption
		else if card.type === 'spotifyPlaylist'
			div(class='music__embed music__embed--playlist')
				iframe(
					class='music__iframe'
					src=card.embedUrl
					title=card.title
					loading='lazy'
					allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'
				)

if musicData.cards.length
	if musicData.embed
		div(class=musicRootClass)
			div(class='music__grid')
				each card in musicData.cards
					+musicCard(card)
	else
		section(class=musicRootClass id=musicData.id)
			div(class='container music__container')
				header(class='section-intro music__intro')
					h2(class='section-intro__title')= musicData.title
					span(class='section-intro__line')
					if musicData.lead
						p(class='section-intro__lead')= musicData.lead
				div(class='music__grid')
					each card in musicData.cards
						+musicCard(card)
