include ../data/site-footer-data
include ../data/socials-data
include social-icon

div(class='site-footer' id=siteFooterData.id)
	div(class='container site-footer__container')
		a(class='site-footer__brand' href=siteFooterData.items[0].href)
			img(
				class='site-footer__logo'
				src=siteFooterData.brandLogo
				alt=siteFooterData.brand
				width='200'
				height='58'
			)
		nav(class='site-footer__nav' aria-label=siteFooterData.navLabel)
			ul(class='site-footer__list')
				each item in siteFooterData.items
					li(class='site-footer__item')
						a(class='site-footer__link' href=item.href)= item.label
		include lang-toggle
		ul(class='site-footer__socials')
			each social in socialsData
				li(class='site-footer__social-item')
					a(class='site-footer__social-link' href=social.href target='_blank' rel='noopener noreferrer' aria-label=social.label)
						+socialIcon(social.icon, 'site-footer__social-icon')
		ul(class='site-footer__contacts')
			each contact in siteFooterData.contacts
				li(class='site-footer__contact-item')
					a(
						class=`site-footer__contact-link site-footer__contact-link--${contact.type}`
						href=contact.href
						target=(contact.type === 'whatsapp' ? '_blank' : false)
						rel=(contact.type === 'whatsapp' ? 'noopener noreferrer' : false)
					)= contact.label
		p(class='site-footer__copyright')= siteFooterData.copyright
