meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content=pageDescription)
meta(name="format-detection" content="telephone=no")
meta(name="author" content="Kike Estrada")

//- Open Graph
meta(property="og:type" content="website")
meta(property="og:title" content=siteName)
meta(property="og:description" content=pageDescription)
meta(property="og:url" content=siteUrl)
meta(property="og:site_name" content=siteName)
meta(property="og:locale" content="es_CR")
//- Reemplazar con imagen real del artista
meta(property="og:image" content=ogImage)

//- Twitter Card
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=siteName)
meta(name="twitter:description" content=pageDescription)
meta(name="twitter:image" content=ogImage)

link(rel="shortcut icon" type="image/x-icon" href="img/favicon.png")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet")
link(rel="stylesheet" href="./tailwind-dist.css")
title= siteName + " | " + pageTitle
